<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: Helvetica,Arial;">
    <h1 style="font-size:18px; text-transform: uppercase;font-weight: normal; margin: 30px 0;">You have a new notification!</h1>
    <blockquote style="font-size: 14px; max-width: 500px; padding: 20px; background-color: #ffffff;">
      <p>
        <%= raw @notification.body %>
      </p>
    </blockquote>
    <p style="font-size: 14px; margin: 30px 0;">
      Visit <a href="http://www.coact.ufg.at" title="coact.ufg.at" style="color:#8DAAB4">Coact</a> and go to your notifications for more info.
    </p>
  </body>
</html>