.page-header
  %h1
    Your Favourites

#grid.grid.clearfix
  - @users.each do |u|
    = render u
  - if @users.empty?
    %h3.text-center.col-sm-12="You don't have any favourites yet!"

:javascript
    $(document).ready( function() {
      function init() {
        var speed = 330,
        easing = mina.backout;

      	[].slice.call ( document.querySelectorAll( '#grid > div > a' ) ).forEach( function( el ) {
      	  var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
      	    pathConfig = {
      	    	from : path.attr( 'd' ),
      		    to : el.getAttribute( 'data-path-hover' )
      		};

      		el.addEventListener( 'mouseenter', function() {
      		  path.animate( { 'path' : pathConfig.to }, speed, easing );
      		} );

      		el.addEventListener( 'mouseleave', function() {
      		  path.animate( { 'path' : pathConfig.from }, speed, easing );
      		} );
      	  } );
      	}

      	init();
    } );