.page-header
  %h1
    = link_to "Your Account", current_user
    &gt; Messages

  - if @my_conversations.empty?
    %h2= "You don't have any messages!"

#inbox
  - sort_array = Array.new()
  - i = 0
  .recipients.col-md-3
    - @my_conversations.each do |conv|
      - if not sort_array.include? conv.id

        - sort_array << conv.id
        - conv.participants.each do |p|
          - if p.id != current_user.id
            - link_class = "show_msg active" if i==0
            - link_class = "show_msg" unless i == 0
            - i = 1
            = link_to show_message_path(conv.id), remote: true, class: link_class do
              =p.name
              =content_tag(:span, conv.subject)
              =content_tag(:small, "#{time_ago_in_words(conv.updated_at)} ago")
  #messages.conversations.col-md-9
    =render 'show_message', :@show_conv => @newest_conversation
