#search-bar.page-header
  = form_tag("/search", method: "get", class: "search_form") do
    = text_field_tag :q, params[:q], :placeholder => "Search users..."
    = submit_tag("Search")

#grid.grid.clearfix
  - @users.each do |u|
    = render u

:javascript
    $(document).ready( function() {
      function init() {
        var speed = 330,
        easing = mina.backout;

      	[].slice.call ( document.querySelectorAll( '#grid > div > a' ) ).forEach( function( el ) {
      	  var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
      	    pathConfig = {
      	    	from : path.attr( 'd' ),
      		    to : el.getAttribute( 'data-path-hover' )
      		};

      		el.addEventListener( 'mouseenter', function() {
      		  path.animate( { 'path' : pathConfig.to }, speed, easing );
      		} );

      		el.addEventListener( 'mouseleave', function() {
      		  path.animate( { 'path' : pathConfig.from }, speed, easing );
      		} );
      	  } );
      	}

      	init();
    } );