%section#ps-container.ps-container
  .ps-contentwrapper
    = render "show_user", :@show_user => @user
    - if not @user_list.nil?
      - @user_list.each do |show_u|
        = render "show_user", :@show_user => show_u

  .ps-slidewrapper
    .ps-slides
      = render "show_user_image", :@show_user => @user
      - if not @user_list.nil?
        - @user_list.each do |show_u|
          = render "show_user_image", :@show_user => show_u
    %nav
      /=link_to "", user_path(:id => @user.id, :q => @user_list), remote: true, :class => 'ps-prev'
      /=link_to "", user_path(:id => @user.id, :q => @user_list), remote: true, :class => 'ps-next'
      %a.ps-prev{:href => "#"}
      %a.ps-next{:href => "#"}
