<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="text-align:center; font-family: Helvetica, Arial, Sans-Serif; ">
    <img src="http://www.coact.ufg.at/images/icons/COACT_signuppage.png" />
    <a href="http://www.coact.ufg.at" title="coact.ufg.at" style="color:#8DAAB4"><h1 style="font-size:24px; text-transform: uppercase;font-weight: bold; color: #8DAAB4; margin: 80px 0 0;">You got post</h1></a>

    <blockquote style="font-size: 16px; line-height: 24px; background-color: #ffffff; margin: 30px auto; max-width: 600px;">
      <p>"<%= raw @message.body %>"</p>
      <p style="font-size: 14px; margin: 30px 0;">
        Visit <a href="http://www.coact.ufg.at" title="coact.ufg.at" style="color:#8DAAB4">Coact</a> and go to your inbox for more info.
      </p>
    </blockquote>

  </body>
</html>
