= form_for @post, :html => { :class => 'form-horizontal' } do |f|

  = f.text_field :title, :label => false, :class => 'text_field'
  = f.text_area :content, :label => false, :class => 'text_area', :rows => 10
  .message-actions
    = f.submit nil, :class => 'btn-send'
    /= link_to t('.cancel', :default => t("helpers.links.cancel")), posts_path, :class => 'btn'
