/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require bootstrap-datepicker
 *= require bootstrap-wysihtml5
 *= require_self
 *= require_tree .
 */

html{
    height:100%;
    width:100%;
}

body {
    background: #f7f5fe !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif !important;
}

#menu .navbar-inner {
    background: #8daab4 !important;
    border: 0px;
    border-radius: 0px;
    webkit-border-radius: 0px;
}

.btn-send {
    background-color: #d77d7b;
    border: 0 none;
    color: #fff;
    padding: 6px 12px;
    margin: 6px;
}

.thumb img, img.thumb{
    border-radius: 50%
}

#menu .navbar-inner li:hover, .brand:hover, .navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background: #9dcdc7 !important;
}

#menu a {
    color: white !important;
    padding: 10px 30px 10px;
    letter-spacing: 1px;
    line-height: 2.5em;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 300;
    margin:0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
    text-shadow: none;
}

h2{
    font-weight: bold;
}

.alert {
    position: absolute;
    left: 10px;
    bottom: 80px;
}

body > .container-fluid,  body > .container-fluid > .row-fluid{
    height:100%
}

body > .container-fluid > .row-fluid > .span12{
    position:relative;
    height:100%;
    padding-top:69px;
    box-sizing:border-box;
}

body > section:first-of-type {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align{
    display: table-cell;
    vertical-align: middle;
}

.delete-i {
    background-image: url("trash_icon.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: right;
}
.delete-i-with-text {
    background-image: url("trash_icon2.png");
    background-repeat: no-repeat;
    width: auto;
    height: 25px;
    float: right;
    background-position: right center;
    line-height: 25px;
    color: #9dcdc7;
    padding-right:30px;
}
.delete-i-with-text:hover {
    color: #9dcdc7;
}


.edit-i {
   background-image: url("edit_icon.png");
   background-repeat: no-repeat;
   width: 25px;
   height: 25px;
   float: right;
}

.send-i {
   background-image: url("send_icon.png");
   background-repeat: no-repeat;
   width: 25px;
   height: 25px;
   float: right;
}

.like-i {
    background-image: url("mark.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    float: right;
}

.like-i:hover {
    background-image: url("unmark.png");
}
.unlike-i {
    background-image: url("unmark.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    float: right;
    margin-right: 5px;
}
.unlike-i:hover {
    background-image: url("mark.png");
}

.intro {
    background-image: url("COACT_signuppage.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    display: block;
    height: 16%;
    min-height: 140px;
    margin: 5% auto 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .intro {
        background-size: 70% auto;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        background-size: 90% auto;
    }
}

#menu a > .unread{
    bottom: 23px;
    color: #d77d7b;
    font-size: 16px;
    position: absolute;
    right: 36px;
}

#menu .dropdown-menu li a.unread:before {
    background-color: #d77d7b;
    border-radius: 10px;
    content: " ";
    height: 10px;
    position: absolute;
    right: 77px;
    top: 26px;
    width: 10px;
}

.info_text{
    padding: 20px 10px;
    font-weight:bold;
}

.tip{
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    #menu a  {
        font-size: 1.1em;
    }
    .dropdown-menu {
        top: 58px !important;
    }
    body > .container-fluid > .row-fluid > .span12 {
        padding-top: 59px;
    }
}

@media (max-width: 979px) {
    #menu a {
        line-height: 1.5em;
    }
    body > .container-fluid > .row-fluid > .span12 {
        padding-top: 53px;
    }
}