/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */




#menu .navbar-inner {
    background: #8daab4 !important;
    border: 0px;
    border-radius: 0px;
    webkit-border-radius: 0px;
}

#menu .navbar-inner li:hover, .brand:hover {
    background: #9dcdc7 !important;
}

#menu a {
    color: white !important;
    padding: 10px 30px 10px;
    letter-spacing: 1px;
    line-height: 2.5em;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.4em;
    font-weight: 300;

}
