// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blackboard
  .post
    width: 400px
    float: left
    margin: 20px
    padding: 30px
    opacity: 0.8
    -webkit-transition: opacity 0.3s ease-in-out
    -moz-transition: opacity 0.3s ease-in-out
    -ms-transition: opacity 0.3s ease-in-out
    -o-transition: opacity 0.3s ease-in-out
    transition: opacity 0.3s ease-in-out

    &:hover
      opacity: 1

    header
      font-size: 2em
      margin: 5px 0px 20px

      a
        text-decoration: none
        color: #444444

    .content
      line-height: 1.8em
      font-size: 1.1em

    footer
      margin-top: 20px

      img
        border-radius: 50%
        float: left
        
      .meta
        float: left
        margin: 10px 10px 0px

      .author
        font-size: 1.2em

      .date
        font-size: 0.9em


  .red
    background: #e8a19b
      
  .darkred
    background: #cb9895

  .green
    background: #9bbaab

  .lightgreen
    background: #d1dcb2

  .blue
    background: #add1f2

  .purple
    background: #d0bec6

  .yellow
    background: #f9eec0

  .orange
    background: #f8cdaa

  .cyan
    background: #9fdee4



