$break-large: 1200px
$break-medium: 1024px
$break-small: 767px
$break-xsmall: 480px

.loginform, .signupform, .forgotpassword
  width: 400px
  margin: 10px auto
  background: white
  text-align: center
  padding: 10px 0px

  @media screen and (max-width: $break-xsmall)
    margin: 10px 0
    width: 100%

  h2
    display: none

  input[type="password"],input[type="email"],input[type="text"]
    width: 350px
    margin: 15px 20px
    padding: 5px
    background: #fff
    border: 1px solid #000
    border-radius: 0px
    height: 40px

    @media screen and (max-width: $break-xsmall)
      height: 35px
      margin: 5px 0
      width: 90%

  input[type="submit"]
    width: 350px
    margin: 10px 20px 0px
    padding: 15px
    background: #8DAAB4
    border: 0px
    color: #ffffff
    text-transform: uppercase
    font-size: 1.7em

    @media screen and (max-width: $break-xsmall)
      margin: 5px 0
      width: 90%
      font-size: 1.2em
      padding: 8px

  form
    margin: 5px 0 20px
    @media screen and (max-width: $break-xsmall)
      margin: 5px 0

#error_explanation
  ul
    li
      color: #8DAAB4
      list-style: outside none none