$break-large: 1200px
$break-small: 767px
$break-xsmall: 480px

#search-bar

  .search_form
    padding: 10px 0
    margin-bottom: 0
    @media screen and (max-width: $break-large)
      padding: 9px 0

  .skills_box
    display: inline-block
    padding-top: 8px

    .skill_list
      display: inline-block
      color: #000
      label
        font-weight: bold

  label
    float: left
    margin-right: 10px

  input
    line-height: 1.2em
    font-size: 1.5em
    border: 1px black solid
    color: white
    padding: 5px
    margin: 5px
    border-radius: 0px
    text-transform: uppercase

    &[type="checkbox"]
      float: left
      margin-top: 4px
      margin-bottom: 5px
      margin-right: 2px

    &[type="text"]
      height: 37px
      width: 500px
      background: white
      color: #e8a19b

      @media screen and (max-width: $break-large)
        height: 31px

      @media screen and (max-width: $break-small)
        margin: 1% 3%
        width: 94%

    &[type="submit"]
      padding: 5px 20px
    @media screen and (max-width: $break-large)
      font-size: 1.1em


  ::-webkit-input-placeholder
    font-style: italic
    color: #8DAAB4

  :-moz-placeholder
    font-style: italic
    color: #8DAAB4

  :-ms-input-placeholder
    font-style: italic
    color: #8DAAB4