// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$h1: 26px
$h2: 20px
$h3: 18px
$normal: 14px
$small: 12px
$title: 25px
$c_normal: #434742
$special_font: 'Axis','Helvetica Neue',Helvetica,Arial,sans-serif

@font-face
  font-family: 'Axis'
  src: font-url('axis.eot')
  src: font-url('axis.eot?#iefix') format("embedded-opentype"), font-url('axis.svg#icomoon') format("svg"), font-url('axis.woff') format("woff"), font-url('axis.ttf') format("truetype")
  font-weight: normal
  font-style: normal

#userlist
  .user
    width: 350px
    height: 350px
    float: left
    margin: 20px
    padding: 30px
    font-size: $h2
    line-height: 1.6em
    color: $c_normal
    opcacity: 0.8
    -webkit-transition: opacity 0.3s ease-in-out
    -moz-transition: opacity 0.3s ease-in-out
    -ms-transition: opacity 0.3s ease-in-out
    -o-transition: opacity 0.3s ease-in-out
    transition: opacity 0.3s ease-in-out

    &:hover
      opacity: 1

      img
        opacity: 1
        z-index: 9
        position: relative

    img
      width: 300px
      height: 300px
      border: 10px white solid
      opacity: 0.2
      z-index: 1
      -webkit-transition: opacity 0.3s ease-in-out
      -moz-transition: opacity 0.3s ease-in-out
      -ms-transition: opacity 0.3s ease-in-out
      -o-transition: opacity 0.3s ease-in-out
      transition: opacity 0.3s ease-in-out

    .name
      position: absolute
      top: 15px
      left: 0
      text-transform: uppercase
      font-size: $h1
      z-index: 2
      text-decoration: underline
      font-family: $special_font
      right: 30px

    .info
      position: absolute
      font-family: $special_font
      text-transform: uppercase
      top: 70px
      left: 0px
      z-index: 2
      right: 30px

    .description
      position: absolute
      top: 200px
      left: 0
      z-index: 2
      font-size: $h3

#grid
  .like
    position: absolute
    right: 15px
    top: 15px
    z-index: 10

#inbox
  height: 100%
  .conversations
    padding: 20px
    background-color: #F2F2F2
    overflow-y: scroll
    height: 100%
  .recipients
    padding: 0px
    background-color: #fff
    overflow-y: scroll
    height: 100%

    a
      display: block
      font-size: $h1
      padding: 20px 150px 20px 40px
      position: relative
      line-height: 28px

      &:hover, &.active
        text-decoration: none
        background-color: #687F86
        color: #fff

      span
        font-size: $small
        display: block

      small
        font-size: $small
        position: absolute
        right: 10px
        top: 10px

      .unread:before
        background-color: #d77d7b
        border-radius: 13px
        content: " "
        height: 13px
        left: -28px
        position: absolute
        top: 17px
        width: 13px

.message_box
  margin-bottom: 20px
  .message_curr_user
    float: left

  .message_text
    background-color: #fff
    padding: 30px
    small
      display: block

  .message_other_user
    float: right

.message-container
  max-width: 900px

textarea
  height: 100px
  width: 100%
  border-radius: 0
  border: 1px solid #333333
  padding: 2px 10px
  resize: none
  margin: 0

input[type=text],input[type=email]
  width: 100%
  border-radius: 0
  border: 1px solid #333333
  height: 40px
  margin: 0 0 4px
  padding: 2px 10px

.message-actions
  background-color: #fff
  text-align: right

#edit_user
  input, textarea
    margin-bottom: 14px

  .wysihtml5
    height: 200px